body {
  font-family: Consolas;
  margin: 0;
}
.game {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
.start-screen {
  text-align: center;
  padding: 35px;
  font-size: 40px;
  background-color: darkgreen;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
}
.start-screen:hover {
  background-color: orange;
  cursor: pointer;
}
